<section id="about">
  <h1 class="about-title">About Us</h1>
  <div class="se-indiv">
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/aaahana.png" alt="" />
      </div>

      <div class="about-text">
        Hi, I am Aaahana Mehrotra, a student of class 9 at DPS RK Puram with
        interests in computer science, physics and mathematics. I am a web
        development enthusiast. I am a keen learner and observer and hope to use
        my skills in order to improve the society
      </div>
    </div>
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/aanya.jpg" alt="" />
      </div>

      <div class="about-text">
        Hi there! I'm Aanya Yaduvanshi, a student of class 9 DPS R.K Puram. I
        love to debate and discuss on topics related to technology and
        International Relations. I am learning web development, and hope to
        create change using the skills I have.
      </div>
    </div>
    <div class="indiv">
      <div class="image-div">
        <img class="about-image" src="images/ananya.jpeg" alt="" />
      </div>

      <div class="about-text">
        Hi, I'm Ananya Mangla, a student at DPS RK Puram. I'm passionate about
        applying my creativity to designing prototypes, making logos,
        illustrations and designing UIs. I deeply value human-centered design
        that's impactful, beautiful, and practical at scale. 
      </div>
    </div>
  </div>
</section>
