<section id="dashboard">
<div class="dashboard1">
    <img src="/images/finallogo_3.png" class="img-main"> </img>
</div>


<div class="dashboard-i">
  <img src="/images/mentorship illustration with blobs.png" class="actualImg"></img>
</div>

<h1 class="about-title">Problem</h1>

<div class="solution-div">
  <h2 class="solution-h2">
    According to research, 8 Million tons of plastic reaches our oceans annually. While certain issues like plastic pollution are being brought to the surface, there are several other ocean-related problems which we are unaware of. Some examples being coral depletion, oil spills, biodiversity loss and more. With our product, Mentorship we aim to adress this problem with combating another prevalent issue, proper mentorship for students. So many children, irrespective of age, lack guidance, educational resources and interactive modules related to all aspects of Marine life. 
  </h2>
</div>

<hr>

<h1 class="about-title">Solution</h1>

<div class="solution-div">
  <h2 class="solution-h2">
    After having read about this issue a lot, we thought of solving this by developing a tracker-cum-mentoring platform. Our main aim is to raise awareness among people about common issues in different oceans, through visual and interesting models and track recent events. We have added the map of the world from map box to depict what the site would actually look like with the data. We have used our own data from research to construct three maps, which provide insight into the world of Oceans! Along with this, we have a forum and profile page for mentors and students to upload interesting study material they have come across. This will help bridge the gap for all students alike and make learning accessible to all!
  </h2>
</div>


</section>

